      body {
        background-color: rgba(239,	235, 233, 0.3);

        }
        .wrap {
            position: absolute;
            width: 350px;
            height: 550px;
            background-color: white;
            text-align: center;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 15px;
            vertical-align: middle;
            display: flex;
            flex-direction: column;
            Justify-content:center;
            align-items:center
        }
    .textForm {
        border-bottom: 2px solid #adadad;
        margin: 30px;
        padding: 10px 10px;
    }
    .id {
        width: 100%;
        border: none;
        outline: none;
        color: #636e72;
        font-size: 16px;
        height: 25px;
        background: none;
    }
    .btn {
        position: relative;
        left: 40%;
        transform: translateX(-50%);
        margin-bottom: 40px;
        width: 80%;
        height: 40px;
        background: linear-gradient(125deg, #4e342e, #cfd8dc, #4e342e);

        background-position: left;
        background-size: 200%;
        color: white;
        font-weight: bold;
        border: none;
        cursor: pointer;
        transition: 0.4s;
        display: inline;
    }